* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    font-family: Winky Rough, sans-serif;
    color: white;
}

.wrapper-class {
    background-image: url(Assets-Bistro/banner-image.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: column;

    /* margin-bottom: 200px; */
}

/* 


        NAVBAR 


*/
header .nav-bar {
    /* background-color: rgba(0, 0, 0, 0.2); */

    display: flex;
    justify-content: space-between;

    padding: 25px 55px;
}

header .nav-bar a {
    font-size: 25px;
    color: rgb(255, 204, 0);
}

header .nav-bar a:hover {
    color: white;
}

header .nav-bar .right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* 


        Banner Section


*/

header .banner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header .banner .banner-content .banner-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .banner .banner-content h2 {
    color: #ffdb0d;
    font-size: 60px;
}

header .banner .banner-content p {
    color: white;
    font: 300px;
}

header .banner .banner-content .explore-button {
    color: black;
    font-size: 20px;
    font-family: Winky Rough;
    padding: 10px 30px;

    border: none;
    background-color: rgb(255, 219, 13);
    border-radius: 5px;

    margin-top: 60px;
}

/* 


        Our Story Section


*/

main .our-story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    height: 100vh;

    padding-left: 80px;
    padding-right: 80px;

    background-image: url(Assets-Bistro/background.jpg);
}

main .our-story img {
    width: 320px;
    height: 200px;

    border: 2px solid rgb(255, 219, 13);
    padding: 8px;
    border-radius: 2px;
}

main .our-story .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

main .our-story .img-container .img-group {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

main .our-story .our-story-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

main .our-story .our-story-content .top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .our-story .our-story-content .top h3 {
    font-size: 25px;
}

main .our-story .address {
    display: flex;
    gap: 10px;
    align-items: center;
}


main .our-story .our-story-content .top .address p,
main .our-story .our-story-content .top .address i {
    color: #ffdb0d;
}

/* 


        Special Item Section


*/
main .special-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 100vh;
    background-image: url(Assets-Bistro/background.jpg);
}

main .special-items .all-items {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

main .special-items h3 {
    font-size: 45px;
    color: #ffdb0d;
}

main .special-items .menu-button {
    color: black;
    background-color: #ffdb0d;
    border: 1px solid #ffdb0d;
    border-radius: 20px;

    padding: 10px 25px;
}

main .special-items .item-card {
    width: 300px;
}

main .special-items .item-card img {
    width: 300px;
    border-radius: 5px;
}

main .special-items .item-card h5 {
    font-size: 15px;
    color: #ffdb0d;
}

main .special-items .item-card p {
    font-size: 10px;
}

main .special-items .all-items .item-container {
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
}


main .special-items .all-items .item-container:hover {
    border: 2px solid #ffdb0d;
    background-color: black;
}

main .special-items .all-items .item-container .item-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 


        Review Section


*/

main .review-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    height: 100vh;

    background-image: url(Assets-Bistro/background.jpg);

    padding-top: 100px;
    padding-bottom: 100px;
}

main .review-section h3 {
    font-size: 45px;
    color: #ffdb0d;
}

main .review-section .all-reviews .review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;

    padding-left: 200px;
    padding-right: 200px;

}

main .review-section .all-reviews .review img {
    border: 2px solid #ffdb0d;
    padding: 5px;
    border-radius: 80px;
}

main .review-section .all-reviews .review h5 {
    color: #ffdb0d;
    font-size: 22px;
    ;
}


/* 


        Contact Section


*/

main .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    height: 100vh;

    background-image: url(Assets-Bistro/background.jpg);
}

main .contact-section h3 {
    font-size: 35px;
    color: #ffdb0d;
}

main .contact-section .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


main .contact-section .contact-links a {
    font-size: 25px;
    color: white;

    border: 2px solid #ffdb0d;
    border-radius: 100px;

    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-top: 15px;
    padding-bottom: 15px;
}

main .contact-section .contact-links a:hover {
    color: black;
    background-color: #ffdb0d;
}

/* 

        Responsive Codes

*/
@media (max-width: 1530px) {

    
    main .our-story img {
        width: 280px;
        height: 180px;
    }

    main .our-story {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1160px) {
    main .our-story .our-story-content {
        font-size: 14px;
    }

    main .our-story img {
        width: 240px;
        height: 160px;
    }
}

@media (max-width: 1050px) {

    header .nav-bar a {
        font-size: 18px;
    }





    main .our-story img {
        width: 200px;
        height: 140px;
    }

    main .our-story {
        gap: 60px;
    }
}

@media (max-width: 950px) {
    main .our-story {
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    header .nav-bar {
        padding: 25px 35px;
    }

    header .nav-bar .right-part {
        gap: 20px;
    }




    main .our-story .our-story-content {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    header .nav-bar {
        padding: 25px 25px;
    }
    header .nav-bar .right-part {
        gap: 15px;
    }




    main .our-story img {
        width: 180px;
        height: 130px;
    }
}

@media (max-width: 565px) {
    header .nav-bar a {
        font-size: 14px;
    }




    main .our-story {
        gap: 30px;
    }

    main .our-story .our-story-content {
        gap: 8px;
    }
}

@media (max-width: 520px) {
    main .our-story img {
        width: 150px;
        height: 120px;
    }
}

@media (max-width: 485px) {
    main .our-story .our-story-content .top h3 {
        font-size: 15px;
    }
    main .our-story img {
        width: 130px;
        height: 110px;
    }
}

@media (max-width: 450px) {
    main .our-story {
        padding-left: 20px;
        padding-right: 20px;
    }
}